<% layout("/layouts/boilerplate") -%>
<body>
 <div class="container-fluid">
   <div class="row">
     <div class="alert alert-danger col-6 offset-3 mt-4 border" role="alert">
      <h3 class="text-center">ERROR!</h3>
       <h6 class="text-center"><%=message%></h6>
     </div>
   </div>
 </div>
</body>

